.controls {
    /* margin-bottom: 20px; */
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #585858;
}

.highlighted-top {
    background-color: blue !important;
    color: white !important;
}

.highlighted-right {
    background-color: blue !important;
    color: white !important;
}

.slide-date-btn{
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slide-date-btn:hover{
    transform: scale(1.2);
}

.table-container {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
}

.compare-table-avia-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.0025em;
    text-align: left;
}

.price-table {
    
    border-collapse: collapse;
    width: 100%;
    /* max-width: 1200px; */
}

.price-table th,
.price-table td {
    /* border: 1px solid #E4E6EE; */
    border: 1px solid #cdd4de;
    padding: 2px;
    text-align: center;
}

.price-table th:first-child,
.price-table td:first-child {
    /* border-left: none; */
}

.price-table th {
    width: 78px;
    height: 48px;
    text-align: center;
    padding: 6px 0;
    border: 1px solid #cdd4de;
    background-color: #f6f7f9;
    color: #0c131d;
    font-weight: 400;
    font-size: 16px;
}

.price-table th span {
    display: block;
    text-transform: uppercase;
    color: #9ea9b7;
    font-weight: 600;
}

.price-table th span.red{
    color: #f95667;
}

.price-table thead th:last-child {
    border: none;
}

.price-table td {
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 10px;
}

.price-table td.cheap {
    color: #3D7B50;
    /* border-color: #3968BF!important; */
    /* border-width:2px; */
    background-color: #ebf8ee;
    box-shadow: 0 0 5px 0 rgba(13,25,43,0.16);
}

.price-table td.cheap.highlight-column.highlight-row.highlight-cell{
    color: #3D7B50;
    /* border-color: #3968BF!important;
    border-width:2px; */
    /* background-color: #e8f4ff; */
    background-color: #ebf8ee;
    box-shadow: 0 0 5px 0 rgba(13,25,43,0.16);
}

.controls-header{
    text-transform: uppercase;
    font-weight: 600;
}

.weekend.red{
    color: #BF3939;
}

.weekend{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.price-table td.lowest-price {
    background-color: #008000;
    /* Green for lowest price */
}

.price-table td.selected {
    /* background-color: #0044cc; */
    /* border: 1px solid #3968BF; */
    background-color: #3968bf;
    color: #fff;
    /* Blue for selected cell */
}

.price-table .highlighted-row {
    background-color: #E6EBF3 !important;
}

.price-table .highlighted-col {
    background-color: #E6EBF3 !important;
}

.vertical-controls {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 40px;
    /* position: absolute; */
    top: 50%;
    right: 0px;
    gap: 8px;
}

.vertical-controls{
    writing-mode: vertical-rl;
}

.center-table-content-wrapper{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 10px;
}

.compare-table-avia-container {
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 16px;
    /* display: none; */
    max-height: 0; /* Начальная высота, скрывающая блок */
            overflow: hidden; /* Чтобы скрыть содержимое, выходящее за пределы блока */
            transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
            opacity: 0; /* Начальная прозрачность */
}

.compare-table-avia-container.active{
    /* display: block; */
    max-height: 620px; /* Устанавливаем максимальную высоту для раскрытого состояния */
            opacity: 1; /* Устанавливаем полную видимость */
}

.compare-table-avia-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 32px 24px 32px;
    border-bottom: 1px solid #E4E6EE;
}

/* New styles added */
.highlighted-top {
    background-color: blue !important;
    color: white !important;
}

.highlighted-right {
    background-color: blue !important;
    color: white !important;
}


.price-table .highlight {
    background-color: #e8f4ff;
}

.price-table .highlight-column {
    position: relative;
    background-color: #e8f4ff;
}

.price-table .highlight-column::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e8f4ff;
    z-index: -1;
}

.price-table .highlight-row {
    position: relative;
    background-color: #e8f4ff;
}

.price-table .highlight-row::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e8f4ff;
    z-index: -1;
}

.price-table .highlight-cell {
    background-color: #3968BF;
    color: #fff;
    cursor: pointer;
}

.price-table .highlight-header{
    background-color: #3968BF;
    color: #fff;
}

.price-table .highlight-header span{
    color: #fff;
}

.loader-compare-table{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    backdrop-filter: blur(2px); /* Apply blur effect */
    top: 0;
    display: block;
}

.loader-spinner{
    width: 48px;
  height: 48px;
  border: 2px solid #3D7B50;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.plane-icon.return{
    transform: rotate(180deg);
}

@media (max-width: 770px) {
    .compare-table-tickets{
        display: none;
    }

    .compare-table-avia-container{
        display: none;
    }
}

@media (max-width: 1300px) {
    .price-table td {
        font-size: 14px;
    }
}