.onboarding-container {
    background-color: #F4F6F9;
    width: 100%;
    height: 100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 40px 0px;
    margin-top: 20px;
}

.onboarding-row-info-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.onboarding-main-form {
    max-width: 800px;
    padding: 24px;
    /* height: 600px; */
    background-color: #fff;
    border-radius: 24px;
}

.onboarding-container .card-label {
    margin-bottom: 16px;
}

.onboarding-main-form .card-toolbar button {
    width: 100%;
}

.inputs-boarding-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}

.inputs-boarding-wrapper.two .form-group {
    width: 50%;
}

.inputs-boarding-wrapper.three .form-group {
    width: 33%;
}

.agreement-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #5B5D6C;
    margin-top: 32px;
}

.onboarding-benefits-wrapper {
    padding: 24px;
    max-width: 430px;
    height: fit-content;
    background-color: #fff;
    border-radius: 24px;
}

.benefits-info-item {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.benefits-info-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.benefit-description p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #585858;
}

.onboarding-header{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.onboarding-header .text{
    font-size: 32px;
font-weight: 700;
line-height: 42px;
text-align: left;
color: #19191E;
}

select.form-control{
    /* height: calc(3.3em + 5px); */
}

.onboarding-form-block{
margin-top: 30px;
}

.onboarding-main-form .select2-container--default .select2-selection--single{
    border: 1px solid #E4E6EE;
}

.onboarding-main-form .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 10px;
}

.autocomplete-results {
    position: relative;
    border: 1px solid #E4E6EF;
    border-top: none;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 3;
    display: none;
    top: -30px;
}

.autocomplete-results.active{
    display: block;
}

.autocomplete-result {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-result:hover {
    background-color: #5879fb;
    color: #fff;
}

.form-group.field-useragencyupdateform-legaladdress{
    position: relative;
}

.onboarding-main-form .form-control{
    height: calc(3.3em + 2px);
    border-radius: 0.3rem;
}

.form-control.is_invalid_item{
    border-color: #F64E60!important;
    padding-right: calc(1.5em + 1.3rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23F64E60' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F64E60' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.325rem) center;
    background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
}

.select2-selection.is_invalid_item{
    border-color: #F64E60!important;
    padding-right: calc(1.5em + 1.3rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23F64E60' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F64E60' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.325rem) center;
    background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
}



@media (max-width: 770px) {
    .onboarding-row-info-wrapper{
        flex-direction: column;
    }

    .onboarding-container{
        padding: 40px 10px;
        /* margin-top: 20px; */
    }

    .onboarding-benefits-wrapper{
        max-width: 100%;
    }
}