.dropdown-links-event-wrapper {
    position: relative;
    display: inline-block;
    
}

.dropdown-links-event-btn {
    color: #3968BF;
    text-decoration: underline;
    cursor: pointer;
}

.dropdown-content-wrapper {
    display: none;
    top: 20px;
    position: absolute;
    background-color: #f5f5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content-wrapper a {
    color: #19191e;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
}

/* .dropdown-content-wrapper a:hover {
    background-color: #fff;
} */

.dropdown-content-wrapper a:hover {
    background-color: #fff;
}

.dropdown-content-wrapper a:first-child:hover {
    border-radius: 8px 8px 0px 0px;
}

.dropdown-content-wrapper a:last-child:hover {
    border-radius: 0px 0px 8px 8px;
}

.show {
    display: block;
}

.content-icon-wrapper{
    flex-grow: 0;
    flex-shrink: 0;
    height: 1em;
    line-height: 1em;
    margin-right: .8em;
    width: 1em;
    display: flex;
    align-items: center;
}

.content-item-wrapper{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    line-height: 1.75em;
    padding:  .8em 1.2em;
    text-align: left;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;

}

.content-href{
    text-decoration: none;
}

.content-description{
    margin-left: .7em;
    width: 100%;
}