.travel-politic-container:first-child{
    margin-top: 0px!important;
}

.travel-politics-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.travel-politics-item {
    padding: 24px;
    background-color: #fff;
    width: 48%;
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
}

.travel-politics-item.exist {
    padding: 36px 54px;
}

.travel-politics-item.exist .header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3968BF;
}

.travelpolitics-wrapper .semi-h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0025em;
    margin-bottom: 0px;
    text-align: left;
}

.travelpolitics-wrapper .semi-b1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #19191E;
}

.travelpolitics-wrapper .semi-b2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;

}

.travelpolitics-wrapper .regular-b3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #585858;
}

.travelpolitics-wrapper .regular-b2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.travelpolitics-wrapper .regular-b1 {
    font-size: 16px;
    font-weight: 400;
    /* line-height: 24px; */
    text-align: left;
    color: #19191E;

}

.recommend-politic-wrapper {
    background-color: #3968BF33;
    border-radius: 0px 24px 0px 24px;
    color: #3968BF;
    padding: 12px 25px;
    position: absolute;
    top: 0;
    right: 0px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.recommend-politic-wrapper p {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.0025em;
}

.header-info-politics-item .header-title img {
    width: 16px;
    height: 16px;
}

.header-info-politics-item .header-title {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-info-politics-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.info-politics-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-politics-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid #E4E6EE;
    padding-bottom: 20px;
}

.info-politics-item:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}


.group-info-politics-item .description-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label-group-info {
    display: flex;
    align-items: center;
    gap: 4px;
}

.label-group-question {
    height: 14px;
    width: 14px;
    background-color: #B5B5C2;
    color: #191C30;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.description-info-stars-wrapper {
    display: flex;
    align-items: center;

}

.btn-full-width {
    width: 100%;
}

.travel-politics-item .btn-full-width {
    margin-top: 20px;
}

.politics-extra-bottom-info {
    text-align: center;
}

.create-new-politics-wrapper {
    border-radius: 24px;
    padding: 24px;
    background-color: #fff;
    margin-top: 44px;
    margin-bottom: 44px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.create-new-politics-wrapper .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.transparent-btn {
    border: 1px solid #3968BF;
    color: #3968BF;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 24px;
}

.transparent-btn svg {
    fill: #3968BF;
}

.transparent-btn:hover {
    background-color: #3968BF;
    color: #fff;
}

.transparent-btn:hover svg {
    fill: #fff;
}

.info-two-items-group-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.info-two-items-group-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.info-two-items-group-item .title {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: #585858;
    margin: 0px;
}

.info-two-items-group-item .description {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: #191C30;
    margin-top: 0px;

}

.politics-edit-btn{
    cursor: pointer;
}

.travel-edit-politics-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.travel-edit-politics-item{
    padding: 50px 100px;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.travel-edit-politics-item .form-group{
    margin-bottom: 0px;
}

.checkbox-group{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.checkbox-group-wrapper .input-container{
    display: flex;
    align-items: center;

}

.checkbox-group-wrapper .input-container .value{
    margin-left: 8px;
}

.checkbox-group-wrapper .header-title{
    margin-bottom: 16px;
}

.value-with-input-wrapper{
    display: flex;
    align-items: center;
}

.value-with-input-wrapper input[type="text"]{
    border: 1px solid #B5B5C2;
    outline: none;
    color: #B5B5C2;
    padding: 2px 6px;
    width: 80px;
    opacity: 100;
    height: 22px;
    border-radius: 6px;
    margin-top: 0px;
    margin-left: 8px;
}

.value-with-input-wrapper select{
    border: 1px solid #B5B5C2;
    outline: none;
    color: #B5B5C2;
    padding: 2px 6px;
    width: 80px;
    opacity: 100;
    height: 22px;
    border-radius: 6px;
    margin-top: 0px;
    margin-left: 8px;
    background-color: transparent;
}

.extra-options-btn{
    color: #3968BF!important;
    margin-right: 8px;
    cursor: pointer;
}

/* SELECT */

.custom-select-politics {
    position: relative;
    /* width: 150px; */
    cursor: pointer;
}

.select-box-politics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #B5B5C2;
    outline: none;
    color: #B5B5C2;
    padding: 2px 6px;
    width: 80px;
    opacity: 100;
    height: 22px;
    border-radius: 6px;
    margin-top: 0px;
    margin-left: 8px;
    background-color: transparent;
}

.select-label-politics {
    font-size: 14px;
    color: #B5B5C2;
}

.select-arrow-politics {
    font-size: 14px;
    color: #999;
}

.select-options-politics {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 40px;
    background-color: #F4F6F9;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.option-politics {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-politics:hover {
    background-color: #e6eaf0;
    border-radius: 6px;
}

.icon-politics {
    font-size: 14px;
    color: #19191E;
}


.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease; /* Плавный переход */
}

/* Стили для оверлея попапа */
.popup-blue-overlay {
    display: none; /* Скрыт по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    height: calc(100% + 300px);
    background-color: #0B193380;
    z-index: 1100; /* Поверх всего остального контента */
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}

/* Стили для контента попапа */
.popup-blue-content {
    width: 70%;
    height: 95%;
    border-radius: 16px;
    margin-top: 0px;
    /* margin-top: 100px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
    position: relative;
    max-width: 1000px;
}

.popup-blue-content.travelpolitics-wrapper{
    width: auto;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0px;
}

.popup-blue-content.esim-wrapper{
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
}

.popup-blue-content.esim-wrapper .btn{
    height: 60px;
}

.popup-blue-content.esim-wrapper .semi-h2{
    text-align: left;
}

.popup-blue-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.extra-info-wrapper{
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 12px 15px;
    gap: 10px;
    max-width: 500px;
}

.extra-info-wrapper.grey{
    background-color: #F4F6F9;
}

.extra-info-wrapper.grey .regular-b2{
    color: #19191E99;
}

.choose-esim-type-wrapper{
    width: 100%;
}

.choose-esim-type-wrapper .payment-select{
    width: 100%;
}

.choose-esim-type-wrapper .payment-select .custom-radio-payment-description-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.custom-radio-payment-description-price{
    display: flex;
    align-items: center;
    gap: 4px;
}

.custom-radio-payment-description-price .semi-h3{
    color: #58585880;
}

/* Кнопка закрытия попапа */
.popup-blue-close {
    position: absolute;
    top: 0%;
    right: -5%;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.popup-blue-close svg{
    fill: #B5B5C2;
}

.popup-blue-content.esim-wrapper .popup-blue-close{
    right: 3%;
    top: 3%;
}

.popup-blue-content .travel-politics-list{
    /* max-height: 700px; */
    gap: 0px;
    display: flex;
    justify-content: space-between;
}

.popup-blue-content .travel-politics-list .travel-politics-item{
max-width: 500px;
}

.popup-blue-content.travelpolitics-wrapper .semi-h3 {
    font-size: 18px;
}

.popup-blue-content.travelpolitics-wrapper .semi-b1 {
    font-size: 13px;
}

.popup-blue-content.travelpolitics-wrapper .semi-b2 {
    font-size: 12px;

}

.popup-blue-content.travelpolitics-wrapper .regular-b3 {
    font-size: 10px;
}

.popup-blue-content.travelpolitics-wrapper .regular-b2 {
    font-size: 12px;
}

.popup-blue-content.travelpolitics-wrapper .regular-b1 {
    font-size: 14px;

}


@media (max-width: 767px) {
    .travel-politics-item{
        width: 100%;
    }

    .transparent-btn{
        width: 100%;
    }

    .create-new-politics-wrapper{
        flex-direction: column;
    }

    .travel-edit-politics-item{
     padding: 30px 20px;   
    }

    .value-with-input-wrapper.add-option{
        flex-direction: column;
        align-items: start;
    }

    .popup-blue-content{
        padding: 20px;
    }

    .popup-blue-content .travel-politics-list{
        gap: 10px;
    }

    .popup-blue-close{
        top: -20px;
        right: 30px;
    }
}

@media (max-width: 480px) {
    .travelpolitics-wrapper .semi-h3 {
        font-size: 18px;
    }
    
    .travelpolitics-wrapper .semi-b1 {
        font-size: 13px;
    }
    
    .travelpolitics-wrapper .semi-b2 {
        font-size: 12px;
    
    }
    
    .travelpolitics-wrapper .regular-b3 {
        font-size: 10px;
    }
    
    .travelpolitics-wrapper .regular-b2 {
        font-size: 12px;
    }
    
    .travelpolitics-wrapper .regular-b1 {
        font-size: 14px;
    
    }

    .recommend-politic-wrapper p{
        font-size: 12px;
    }

    .recommend-politic-wrapper{
        padding: 10px 12px;
    }

    .value-with-input-wrapper{
        
    }

    .popup-blue-content.esim-wrapper{
        padding: 20px;
        width: 95%;
        height: fit-content;
        gap: 20px;
    }

    .popup-blue-content.esim-wrapper .semi-h2{
        font-size: 16px;
    }

    .popup-blue-content.esim-wrapper .popup-blue-description .regular-b1{
        font-size: 14px;
    }

    .extra-info-wrapper.grey .regular-b2{
        font-size: 12px;
    }

    .choose-esim-type-wrapper .payment-select .custom-radio-payment-description-wrapper .regular-b2{
        font-size: 12px;
    }

    .custom-radio-payment-description-price{
        flex-direction: column-reverse;
    }

    .custom-radio-payment-description-price .custom-radio-payment-description{
        white-space: nowrap;
    }

    .custom-radio-payment-description-price .custom-radio-payment-description.crossed{
        font-size: 14px;
        gap: 0px;
    }

    .choose-esim-type-wrapper .payment-select .custom-control-label{
        padding-right: 15px;
    }

    .popup-blue-description{
        gap: 10px;
    }

    .popup-blue-content.esim-wrapper .popup-blue-close svg{
        fill: #fff;
    }

    .popup-blue-content.esim-wrapper .popup-blue-close{
        top: -6%;
    }
    
}